<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link th:href="@{/css/header.css}" rel="stylesheet">
  <link th:href="@{/css/footer.css}" rel="stylesheet">
  <link th:href="@{/css/body.css}" rel="stylesheet">
  <link th:href="@{/css/singleShow.css}" rel="stylesheet">
  <link th:href="@{/css/newsArticle.css}" rel="stylesheet">
  <link th:href="@{/css/about.css}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
  <div th:insert="~{header :: header}"></div>
  <article>
    <div class="body-wrapper">

<div class="news-article">

<div class="news-article-title">
  <p class="news-article-title-name" style="margin-top: 150px; color: white">About the Author</p>
</div>

<div class="news-article-text"> 
 <p style="font-size: 20px; color: white">Welcome to the whatepisode! This project was created by a dedicated solo developer passionate about helping fellow TV enthusiasts keep track of their viewing progress. You can contact me via:</p> 
</div>

<div class="social-btns">
  <a class="btn github" href="https://github.com/peles-taras" target="_blank" rel="noopener noreferrer"><i class="fa fa-github"></i></a>
  <a class="btn linkedin" href="https://www.linkedin.com/in/taras-peles/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
  <a class="btn telegram" href="https://t.me/noampersone" target="_blank" rel="noopener noreferrer"><i class="fa fa-telegram"></i></a>
</div>

<div class="news-article-title-second">
  <p class="news-article-title-name" style="margin-top: 50px; color: white">About this project</p>
</div>

<div class="news-article-text"> 
  <p style="font-size: 20px; color: white">As a fan of TV shows myself, I understand the excitement and challenge of keeping up with multiple series. This website was born out of the desire to make tracking TV show progress a seamless experience. Whether you're juggling numerous shows simultaneously or just looking for a convenient way to manage your viewing, this platform is designed with you in mind.</p> 
 </div>

 <div class="news-article-text"> 
  <p style="font-size: 20px; color: white">Tracking TV show progress can be a daunting task, and I've been there too. I believe in the power of technology to simplify our lives, and that's why I created this platform. My aim is to provide TV enthusiasts with a user-friendly tool that not only helps you keep track of episodes and seasons but also enhances your overall viewing experience.</p> 
 </div>

</div>
</div>
  </article>
  <div th:insert="~{footer :: footer}"></div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>