<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link type="text/css" th:href="@{/css/header.css}" rel="stylesheet">
    <link type="text/css"  th:href="@{css/footer.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/css/auth.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/css/body.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/modal.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/alert.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/js/analytics.js}"></script>
</head>
<body>
    <div th:insert="~{header :: header}"></div> 

    <div class="wrapper" id="wrapper">

        <div class="form-container sign-up-container">
            <form th:action="@{/auth/register}" method="post">
                <h1>Create Account</h1>
                <span>or use your email for registration</span>
                <input type="text" name="username" placeholder="Username" required="" minlength="6" maxlength="20"/>
                <input type="email" name="email" placeholder="Email" required="" minlength="6"/>
                <input type="password"  name="password" placeholder="Password" required="" minlength="6"/>
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form th:action="@{/auth/login}"  method="post">
                <h1>Sign in</h1>
                <span>or use your account</span>
                <input type="email"  name="email" placeholder="Email" required=""/>
                <input type="password"  name="password" placeholder="Password" required=""/>
                <input type="checkbox" class="form-check-input" id="checkRememberMe" name="checkRememberMe" checked>
                <button>Sign In</button>
                <a href="#modal" role="button" id="modal-button" class="button modal-button forgot-password">Forgot your password?</a>
            </form>

        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>

        <!-- Modal -->
<div class="modal-wrapper" id="modal">
    <div class="modal-body modal-card">
      <div class="modal-header">
        <h2 class="modal-heading">Reset password</h2>
        <a href="#!" role="button" class="close" aria-label="close this modal">
            <svg viewBox="0 0 24 24">
              <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" />
            </svg>
          </a>
      </div>
      <form th:action="@{/auth/forgotPassword}" method="post">
        <input type="email" name="email" class="form-control" placeholder="Enter your email" required/> 
        <input type="submit" name="btnSubmit" class="modalSubmit" value="confirm" />
      </form>
    </div>
    <a href="#!" class="outside-trigger"></a>
  </div>

    </div>

    <div th:if="${param.error}" class="alert alert-danger alert-dismissible show" role="alert">
      <strong>
          <span th:if="${#strings.equals(param.error, 'username')}">Username is already taken</span>
          <span th:if="${#strings.equals(param.error, 'email')}">Email is already taken</span>
          <span th:if="${#strings.equals(param.error, 'wrong')}">Wrong registration credentials</span>
          <span th:if="${#strings.equals(param.error, 'invalid')}">Wrong email or password</span>
      </strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div th:if="${param.success}" class="alert alert-success alert-dismissible show" role="alert">
    <strong>
        <span th:if="${#strings.equals(param.success, 'register')}">Email has been sent to  <span th:text="${email != null ? email : 'your email'}"></span>. Please, follow the link in a letter</span>
        <span th:if="${#strings.equals(param.success, 'confirmRegister')}">Account has been activated successfully</span>
        <span th:if="${#strings.equals(param.success, 'forgotPassword')}">Email has been sent to  <span th:text="${email != null ? email : 'your email'}"></span>. Please, follow the link in a letter</span>
        <span th:if="${#strings.equals(param.success, 'passwordChanged')}">Password have been changed successfully</span>
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div>

    <div th:insert="~{footer :: footer}"></div>

<script th:src="@{/js/auth.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>