<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link th:href="@{/css/header.css}" rel="stylesheet">
  <link th:href="@{/css/footer.css}" rel="stylesheet">
  <link th:href="@{/css/body.css}" rel="stylesheet">
  <link th:href="@{/css/singleShow.css}" rel="stylesheet">
  <link th:href="@{/css/newsArticle.css}" rel="stylesheet">
  <link th:href="@{/css/contact.css}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
  <div th:insert="~{header :: header}"></div>
  <article>
    <div class="body-wrapper">

<div class="news-article">

<div class="news-article-title">
  <p class="news-article-title-name" style="margin-top: 30px">Contact</p>
</div>

<div class="wrapper">
  <form>
      <ul>
          <li>
              <label for="name"><span>Name <span class="required-star">*</span></span></label>
              <input type="text" id="name" name="user_name">
          </li>
          <li>
              <label for="mail"><span>Email <span class="required-star">*</span></span></label>
              <input type="email" id="mail" name="user_email">
          </li>
          <li>
              <label for="msg"><span>Message</span></label>
              <textarea rows="4" cols="50"></textarea>
          </li>
          <li>
              <input type="submit">
          </li>
      </ul>
  </form>
</div>

</div>
</div>
  </article>
  <div th:insert="~{footer :: footer}"></div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>