<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
    <div th:fragment="header">
        <body id="page-top" class="index" data-pinterest-extension-installed="cr1.3.4">

            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll" th:href="@{/home}">whatepisode</a>
                    </div>
        
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="hidden active">
                                <a href="#page-top"></a>
                            </li>

                            <li>
                                <!-- SEARCH START -->
                                <form action="" class="navbar-form">
                                    <div class="form-group">
                                        <div class="input-group search-box">
                                            <input type="search" name="search" id="search"
                                                placeholder="Search for a show..." class="form-control">
                                        </div>
                                    </div>     
                                    <div id="search-results" class="dropdown search-results"></div>  
                                </form>
                                 <!-- SEARCH END -->
                            </li>

                            <li class="">
                                <a class="page-scroll" th:href="@{'/shows'}">Shows</a>
                            </li>
                            <li class="">
                                <a class="page-scroll" th:href="@{/about}">About</a>
                            </li>
                            <li class="">
                                <a class="page-scroll"th:href="@{/team}">Team</a>
                            </li>
                            <li class="">
                                <a class="page-scroll" th:href="@{/contact}">Contact</a>
                            </li>
                            <li class="">
                                <a a sec:authorize="isAnonymous()" th:href="@{/auth}" class="page-scroll">Login</a>
                            </li>
                            <li class="">
                                <a class="page-scroll" sec:authorize="isAuthenticated()" th:href="@{/profile(user=${authenticatedUser.name})}" th:text="${authenticatedUser.name}">Profile</a>
                            </li>
                            <li class="">
                                <a class="page-scroll" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
    
        <script th:src="@{/js/search.js}"></script> 
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>