<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet">
    <link th:href="@{/css/home-modal.css}" rel="stylesheet">
    <link th:href="@{/css/body.css}" rel="stylesheet">
    <script th:src="@{/js/analytics.js}"></script>
</head>

<body>
    <header th:insert="~{header :: header}"></header>
    <header>
      <div class="container">
          <div class="intro-text">
              <div class="intro-lead-in">Looking for platform to track your favourite tv shows?</div>
              <div class="intro-heading">Elevate your television viewing experience with WhatEpisode</div>
              <a sec:authorize="isAnonymous()" th:href="@{/auth}" class="page-scroll btn btn-xl">Sign up now</a>
          </div>
      </div>
  </header>

    <article>
        <div class="body-wrapper">

            <div class="block-1">
                <div class="subheadline"><a href="#">POPULAR</a>
                <a sec:authorize="hasRole('ROLE_ADMINISTRATOR')" href="#modal" role="button" class="button modal-button">NEW SHOW</a>
                </div>
            <div th:if="${page != null}" class="show-container">
                <div th:each="show: ${page}">        
               <div class="item item-1">
                <a th:href="@{'/show/' + ${show.id}}">
                <p class="show-name" th:text="${show.name}">Show name</p>
                <img th:src="${show.imageUrl == 'https://image.tmdb.org/t/p/originalnull' ? 'https://media.istockphoto.com/id/1472933890/vector/no-image-vector-symbol-missing-available-icon-no-gallery-for-this-moment-placeholder.jpg?s=612x612&w=0&k=20&c=Rdn-lecwAj8ciQEccm0Ep2RX50FCuUJOaEM8qQjiLL0=' 
                : show.imageUrl}" class="show-img"></img>
              </a>
                </div> 
            </div>                    
              </div>
            </div>

              <form th:action="@{'/shows'}">
                <input type="submit" class="showsBtn" value="all shows" />
             </form>

<!-- Modal -->
<div sec:authorize="hasRole('ROLE_ADMINISTRATOR')" class="modal-wrapper" id="modal">
  <div class="modal-body modal-card">
    <div class="modal-header">
      <h2 class="modal-heading">New show</h2>
      <a href="#!" role="button" class="close" aria-label="close this modal">
        <svg viewBox="0 0 24 24">
          <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" />
        </svg>
      </a>
    </div>
    <form th:action="@{/show/add}" method="post">
      <input type="number" name="showId" class="form-control" placeholder="Enter show id" required/> 
      <input type="submit" name="btnSubmit" class="" value="create" />
    </form>
  </div>
  <a href="#!" class="outside-trigger"></a>
</div>


<!-- NEWS -->
<div class="block-2">
  <div class="subheadline"><a href="#">NEWS</a> 
    
  </div>

  <div th:if="${newsPage != null}" class="show-container">
      <div th:each="newsArticle: ${newsPage}">        
          <div class="item item-1">
              <a th:href="@{'/news/' + ${newsArticle.id}}">
                  <img th:src="${newsArticle.imageUrl}" class="newsArticle-img"></img>
                  <p class="newsArticle-title" th:text="${newsArticle.name}"></p>
              </a>
          </div> 
      </div>                    
  </div> 
</div>
</article>

    <footer th:insert="~{footer :: footer}"></footer>
    <script th:src="@{/js/home.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>