<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link type="text/css" th:href="@{/css/header.css}" rel="stylesheet">
    <link type="text/css"  th:href="@{css/footer.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/css/passwordReset.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/css/body.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/js/analytics.js}"></script>
</head>
<body>
    <div th:insert="~{header :: header}"></div> 
	<div class="wrapper" id="wrapper">
        <div class="form-container sign-up-container">
            <form th:action="@{/auth/newPassword}" method="post">
                <h1>Password reset</h1>
                <input type="password" name="newPassword" placeholder="New password" required="" minlength="6" maxlength="20"/>
                <input type="password" name="confirmPassword" placeholder="Confirm new password" required="" minlength="6" maxlength="20"/>
                <button>Reset</button>
            </form>
        </div>
    </div>

    <div th:insert="~{footer :: footer}"></div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>