<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet">
    <link th:href="@{/css/body.css}" rel="stylesheet">
    <link th:href="@{/css/shows.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/js/analytics.js}"></script>
</head>

<body>
    <header th:insert="~{header :: header}"></header>

    <article>
        <div class="body-wrapper">

            <div class="block-1">
                <div class="subheadline" th:if="${not #lists.isEmpty(Shows)}"><a href="#"
                        th:text="'Searching for: ' + ${Keyword}">Keyword</a></div>
                <div class="subheadline" th:if="${#lists.isEmpty(Shows)}"><a href="#">No shows found.</a></div>
                <div th:if="${not #lists.isEmpty(Shows)}" class="show-container">
                    <div th:each="show: ${Shows}">
                        <div class="item item-1">
                            <a th:href="@{'/show/' + ${show.id}}">
                            <p class="show-name" th:text="${show.name}">Show name</p>
                            <img loading="lazy" th:src="${show.imageUrl == 'https://image.tmdb.org/t/p/originalnull' ? 'https://media.istockphoto.com/id/1472933890/vector/no-image-vector-symbol-missing-available-icon-no-gallery-for-this-moment-placeholder.jpg?s=612x612&w=0&k=20&c=Rdn-lecwAj8ciQEccm0Ep2RX50FCuUJOaEM8qQjiLL0=' 
                            : show.imageUrl}" class="show-img"></img>
                          </a>
                            </div> 
                    </div>
                </div>
            </div>

            <div>
                <p>No shows found.</p>
            </div>
        </div>

    </article>

    <footer th:insert="~{footer :: footer}"></footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>