<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${show.name}">Default text</title>
  <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link th:href="@{/css/header.css}" rel="stylesheet">
  <link th:href="@{/css/footer.css}" rel="stylesheet">
  <link th:href="@{/css/body.css}" rel="stylesheet">
  <link th:href="@{/css/singleShow.css}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
  <div th:insert="~{header :: header}"></div>
  <article>
    <div class="body-wrapper">

      <div class="show-card">
        <div class="show-content">
          <div class="show-general">
            <div class="show-image">
              <div class="show-header">
                <h3 th:text="${show.name}"></h3>
              </div>
              <img th:src="${show.imageUrl}"></img>

              <form sec:authorize="isAuthenticated()" th:action="@{/user/addShow}" method="post" id="viewerStatusForm"
               class="dropdown">
                <label for="dropdown" class="dropdown-label">Status:</label>
                <input name="showId" th:value="${show.id}" type="hidden">
                <select name="status" id="viewerStatus">
                  <option
                  th:selected="${usersShowProgress.isPresent() and usersShowProgress.get().getStatus().toString() == 'DEFAULT'}"
                  value="WATCHING">Add to list</option>
                  <option
                    th:selected="${usersShowProgress.isPresent() and usersShowProgress.get().getStatus().toString() == 'WATCHING'}"
                    value="WATCHING">Watching</option>
                  <option
                    th:selected="${usersShowProgress.isPresent() and usersShowProgress.get().getStatus().toString() == 'REWATCHING'}"
                    value="REWATCHING">Rewatching</option>
                  <option
                    th:selected="${usersShowProgress.isPresent() and usersShowProgress.get().getStatus().toString() == 'PLANNED_TO_WATCH'}"
                    value="PLANNED_TO_WATCH">Planned to watch</option>
                  <option
                    th:selected="${usersShowProgress.isPresent() and usersShowProgress.get().getStatus().toString() == 'ON_HOLD'}"
                    value="ON_HOLD">On hold</option>
                  <option
                    th:selected="${usersShowProgress.isPresent() and usersShowProgress.get().getStatus().toString() == 'DROPPED'}"
                    value="DROPPED">Dropped</option>
                  <option
                    th:selected="${usersShowProgress.isPresent() and usersShowProgress.get().getStatus().toString() == 'COMPLETED'}"
                    value="COMPLETED">Completed</option>
                  <option th:if="${!usersShowProgress.isPresent()}" th:selected="${!usersShowProgress.isPresent()}"
                    value="">Add to list</option>
                </select>
              </form>
            </div>

            <div class="show-info">
              <!-- INFO LEFT -->
              <div class="info-left">
                <div class="score-wrapper">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>

                <div th:if="${show.show_status != null}" class="info-column"><label>STATUS: </label>
                  <p th:text="${show.show_status}"></p>
                </div>
                <div th:if="${show.genre != null}" class="info-column"><label>GENRE: </label>
                  <p>
                  <span th:each="genre, iterStat : ${show.genre}">
                    <span th:utext="${genre.name}"></span>
                    <span th:if="${!iterStat.last}">,</span>
                  </p>
                </div>
                <div th:if="${show.voteAverage != null}" class="info-column"><label>SCORE:</label>
                  <p th:text="${show.voteAverage}" formatDecimal="1"></p>
                </div>
                <div th:if="${show.voteCount != null}" class="info-column"><label>VOTES:</label>
                  <p th:text="${show.voteCount}"></p>
                </div>
                <div th:if="${show.languages != null}" class="info-column"><label>LANGUAGES: </label>
                  <p> 
                    <span th:each="language, iterStat : ${show.languages}">
                      <span th:utext="${language}"></span>
                      <span th:if="${!iterStat.last}">,</span>
                  </p>
                </div>
                <div th:if="${show.origin_country != null}" class="info-column"><label>COUNTRY: </label>
                  <p th:text="${show.origin_country}"></p>
                </div>
                <div th:if="${!show.originalName.equals(show.name)}" class="info-column"><label>ORIGINAL NAME: </label>
                  <p th:text="${show.originalName}"></p>
                </div>
                <div th:if="${show.releaseDate != null}" class="info-column"><label>RELEASE DATE: </label>
                  <p th:text="${show.releaseDate}"></p>
                </div>
                <div th:if="${show.last_air_date != null}" class="info-column"><label>LAST AIR: </label>
                  <p th:text="${show.last_air_date}"></p>
                </div>
                <div th:if="${show.number_of_episodes != null}" class="info-column"><label>EPISODES: </label>
                  <p id="episodeMaxValue" th:text="${show.number_of_episodes}">0</p>
                </div>
                <div th:if="${show.number_of_seasons != null}" class="info-column"><label>SEASONS: </label>
                  <p th:text="${show.number_of_seasons}"></p>
                </div>

    <!-- Loop through the seasons and display progress for each -->
    <div class="season-wrapper">
      <div th:each="season : ${show.seasons}"> 
        <div class="season-block">
          <p class="season-name" th:text="${'Season ' + season.season_number + ' - '}"></p>  
          <input type="hidden" id="episodeMaxValue" th:value="${season.episode_count}" />    
          <p class="progressValue" th:each="seasonProgress: ${seasonProgressList}" th:if="${seasonProgress.season.id == season.id}">
            <span id="progressValue" class="progressValue" th:text="${seasonProgress.progress + ' ' + '/' + ' '}" data-progress="${seasonProgress.progress}"></span>
          </p>
        <p class="episode-count" th:text="' ' + ${season.episode_count}"></p>
        <!-- TRACKING BUTTONS-->
          <form sec:authorize="isAuthenticated()" th:action="@{'/user/' + ${show.id} +'/'+ ${season.id} +'/increment'}" method="post">
            <button type="submit" class="trackingButton" id="increment">+</button>
          </form>
    
          <form sec:authorize="isAuthenticated()" th:action="@{'/user/' + ${show.id} +'/' + ${season.id} + '/decrement'}" method="post">
            <button type="submit" class="trackingButton" id="decrement">-</button>
          </form>
          <!--TRACKING BUTTONS END -->
        </div>
      </div>
    </div>






              </div>
            </div>
          </div>
          <div class="show-description">
            <div class="subheadline">OVERVIEW</div>
            <div class="info-column description-text-block">
              <p th:text="${show.overview}"></p>
            </div>
          </div>

          <!-- USERS COMMENTS -->
          <div class="show-comments">
            <div class="subheadline">COMMENTS</div>

            <div th:each="comment: ${show.comments}" class="comments-wrapper">
              <div class="comment-header">
                <div class="comment-info">
                  <img th:if="${comment.author.image != null}"
                    th:src="@{'data:image/jpeg;base64,' + ${comment.author.image}}" class="comment-author-img"> </img>
                  <img th:if="${comment.author.image == null}" class="comment-author-img"
                    src="https://www.refugee-action.org.uk/wp-content/uploads/2016/10/anonymous-user.png"></img>
                  <div class="comment-author-info">
                    <a class="comment-author-name" th:href="@{/profile(user=${comment.author.name})}"
                      th:text="${comment.author.name}">author username</a>
                    <p class="comment-timestamp" th:text="${#temporals.format(comment.date, 'dd-MM-yyyy HH:mm')}"></p>
                  </div>
                </div>
                <div class="comment-body">
                  <p class="comment-text" th:text="${comment.text}">comment text...</p>
                </div>
              </div>
            </div>

            <div th:if="${show.comments.isEmpty()}" sec:authorize="isAnonymous()" class="comment-body">
              <p class="comment-text">No comments posted yet.</p>
            </div>

            <div sec:authorize="isAuthenticated()" class="comment-form">
              <form th:action="@{'/show/' + ${show.id} + '/comment'}" th:object="${ShowComment}" method="post">
                <div class="form-group">
                  <textarea required th:field="${ShowComment.text}" name="text" class="form-control"
                    placeholder="Enter your comment here.."></textarea>
                </div>
                <button id="commentButton" type="submit">Submit</button>
              </form>
            </div>
          </div>
  </article>
  <div th:insert="~{footer :: footer}"></div>

  <script th:src="@{/js/formCustomSubmission.js}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>