<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${show.name}">Default text</title>
  <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link th:href="@{/css/header.css}" rel="stylesheet">
  <link th:href="@{/css/footer.css}" rel="stylesheet">
  <link th:href="@{/css/body.css}" rel="stylesheet">
  <link th:href="@{/css/singleShow.css}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
  <div th:insert="~{header :: header}"></div>
  <article>
    <div class="body-wrapper">

      <div class="show-card">
        <div class="show-content">
          <div class="show-general">
            <div class="show-image">
              <div class="show-header">
                <h3 th:text="${show.name}"></h3>
              </div>
              <img th:src="${show.imageUrl}"></img>

              <!-- MEDIAPLAYER TRAILER MODAL START-->
              <button th:if="${show.trailerUrl != null}" id="myBtn" class="trailer-button">Watch trailer</button>
              <div id="myModal" class="modal">
                <div class="content-modal">
                  <div class="player-wrapper">
                    <span class="close">&times;</span>
                    <iframe class="mediaPlayer" th:src="${show.trailerUrl}">
                    </iframe>
                  </div>
                </div>
              </div>
              <!-- MEDIAPLAYER TRAILER MODAL END-->

              <form sec:authorize="isAuthenticated()" th:action="@{/user/addShow}" method="post" id="viewerStatusForm"
               class="dropdown">
                <label for="dropdown">Add to my list:</label>
                <input name="showId" th:value="${show.id}" type="hidden">
                <select name="status" id="viewerStatus">
                  <option
                    th:selected="${usersShowProgress.isPresent() and usersShowProgress.get().getStatus().toString() == 'WATCHING'}"
                    value="WATCHING">Watching</option>
                  <option
                    th:selected="${usersShowProgress.isPresent() and usersShowProgress.get().getStatus().toString() == 'REWATCHING'}"
                    value="REWATCHING">Rewatching</option>
                  <option
                    th:selected="${usersShowProgress.isPresent() and usersShowProgress.get().getStatus().toString() == 'PLANNED_TO_WATCH'}"
                    value="PLANNED_TO_WATCH">Planned to watch</option>
                  <option
                    th:selected="${usersShowProgress.isPresent() and usersShowProgress.get().getStatus().toString() == 'ON_HOLD'}"
                    value="ON_HOLD">On hold</option>
                  <option
                    th:selected="${usersShowProgress.isPresent() and usersShowProgress.get().getStatus().toString() == 'DROPPED'}"
                    value="DROPPED">Dropped</option>
                  <option
                    th:selected="${usersShowProgress.isPresent() and usersShowProgress.get().getStatus().toString() == 'COMPLETED'}"
                    value="COMPLETED">Completed</option>
                  <option th:if="${!usersShowProgress.isPresent()}" th:selected="${!usersShowProgress.isPresent()}"
                    value="">Add to list</option>
                </select>
              </form>
            </div>

            <div class="show-info">
              <!-- INFO LEFT -->
              <div class="info-left">
                <div class="score-wrapper">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>

                <div class="info-column"><label>STATUS: </label>
                  <p th:text="${show.status}"></p>
                </div>
                <div class="info-column"><label>GENRE: </label>
                  <p th:text="${show.genre}"></p>
                </div>
                <div class="info-column"><label>RELEASE DATE: </label>
                  <p th:text="${show.releaseDate}"></p>
                </div>
                <div class="info-column"><label>DIRECTORS: </label>
                  <p th:text="${show.directors}"></p>
                </div>
                <div class="info-column"><label>ACTORS: </label>
                  <p th:text="${show.actors}"></p>
                </div>
                <div th:if="${show.nextEpisode != null}" class="info-column"><label>NEXT EPISODE: </label>
                  <p th:text="${show.nextEpisode}"></p>
                </div>
                <div class="info-column"><label>EPISODE DURATION: </label>
                  <p th:text="${show.episodeDuration}"></p>
                </div>
                <div class="info-column"><label>EPISODES: </label>
                  <p id="episodeMaxValue" th:text="${show.episodesNumber}">0</p>
                </div>
                <div sec:authorize="isAuthenticated()" class="info-column progress-column"><label>Progress</label>
                  <p id="progress" class="progressValue" th:if="${usersShowProgress.isPresent()}" th:text="${usersShowProgress.get().getEpisodeProgress()}">0</p>
                  <p id="progress" class="progressValue" th:if="${!usersShowProgress.isPresent()}" th:text="'0'">0</p>
                  <p  th:text= " '/ ' + ${show.episodesNumber}"></p>

                    <!-- EPISODE TRACKING -->
                    <form sec:authorize="isAuthenticated()" th:action="@{'/user/' + ${show.id} + '/increment'}" method="post">
                      <button type="submit" class="trackingButton" id="increment">+</button>
                    </form>
  
                    <form sec:authorize="isAuthenticated()" th:action="@{'/user/' + ${show.id} + '/decrement'}" method="post">
                      <button type="submit" class="trackingButton" id="decrement">-</button>
                    </form>
                    <!-- EPISODE TRACKING END -->
                </div>



              </div>
            </div>
          </div>
          <div class="show-description">
            <div class="subheadline">DESCRIPTION</div>
            <div class="info-column description-text-block">
              <p th:text="${show.description}"></p>
            </div>
          </div>

          <!-- USERS COMMENTS -->
          <div class="show-comments">
            <div class="subheadline">COMMENTS</div>

            <div th:each="comment: ${show.comments}" class="comments-wrapper">
              <div class="comment-header">
                <div class="comment-info">
                  <img th:if="${comment.author.image != null}"
                    th:src="@{'data:image/jpeg;base64,' + ${comment.author.image}}" class="comment-author-img"> </img>
                  <img th:if="${comment.author.image == null}" class="comment-author-img"
                    src="https://www.refugee-action.org.uk/wp-content/uploads/2016/10/anonymous-user.png"></img>
                  <div class="comment-author-info">
                    <a class="comment-author-name" th:href="@{/profile(user=${comment.author.name})}"
                      th:text="${comment.author.name}">author username</a>
                    <p class="comment-timestamp" th:text="${#temporals.format(comment.date, 'dd-MM-yyyy HH:mm')}"></p>
                  </div>
                </div>
                <div class="comment-body">
                  <p class="comment-text" th:text="${comment.text}">comment text...</p>
                </div>
              </div>
            </div>

            <div th:if="${show.comments.isEmpty()}" sec:authorize="isAnonymous()" class="comment-body">
              <p class="comment-text">No comments posted yet.</p>
            </div>

            <div sec:authorize="isAuthenticated()" class="comment-form">
              <form th:action="@{'/show/' + ${show.id} + '/comment'}" th:object="${ShowComment}" method="post">
                <div class="form-group">
                  <textarea required th:field="${ShowComment.text}" name="text" class="form-control"
                    placeholder="Enter your comment here.."></textarea>
                </div>
                <button id="commentButton" type="submit">Submit</button>
              </form>
            </div>
          </div>
  </article>
  <div th:insert="~{footer :: footer}"></div>

  <script th:src="@{/js/formCustomSubmission.js}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>