<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${show.name}">Default text</title>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/css/body.css}" rel="stylesheet">
</head>
<body>
    <div th:insert="~{header :: header}"></div>

    <h3>WORKS</h3>
    <h3 th:text="${show.name}">WORKS</h3>
    <p th:text="${show.name}">WORKS</p>
    <p th:text="${show.releaseDate}">WORKS</p>
    <p th:text="${show.genre}">WORKS</p>
    <p th:text="${show.description}">WORKS</p>

    <div th:insert="~{footer :: footer}"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>