<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email verification</title>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link type="text/css" th:href="@{/css/header.css}" rel="stylesheet">
    <link type="text/css"  th:href="@{css/footer.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/css/body.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/verify_success.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <div th:insert="~{header :: header}"></div> 
	<div class="container" id="container">
        <div class="content">
        <h1>Email has been sent to <span th:text="${user.email}"></span></h1> 
        <h1>Please, follow the link in a letter to activate your account</span></h1>
    </div>
    </div>

    <div th:insert="~{footer :: footer}"></div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>