.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
  top: 90%;
  left: -110%;
}

.social-btns .btn .fa {
  transform: scale(0.8);
}

.social-btns .btn.linkedin:before {
  background-color: #3b5998;
}

.social-btns .btn.linkedin .fa {
  color: #3b5998;
}

.social-btns .btn.telegram:before {
  background-color: #3cf;
}

.social-btns .btn.telegram .fa {
  color: #3cf;
}

.social-btns .btn.google:before {
  background-color: #dc4a38;
}

.social-btns .btn.google .fa {
  color: #dc4a38;
}

.social-btns .btn.github:before {
  background-color: #2f2f2f;
}

.social-btns .btn.github .fa {
  color: #2f2f2f;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}

.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  transform: scale(1);
}

.social-btns {
  height: 90px;
  font-size: 0;
  text-align: center;
  margin-top: 50px;
}

.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
}

.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
}

.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}

.news-article-title-second {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.news-article-title-second>p {
  width: 60%;
  text-align: center;
  color: white;
}