@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body {
    font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	background: repeat url("../pictures/background.png");
	display:flex; 
	flex-direction: column;
	justify-content: space-between;
	z-index: 0;
}
article{ flex:1; }

body{ min-height: 100vh; margin:0; }

header{ min-height:50px;}
footer{ min-height:50px;}

.body-wrapper {
	width: 85%;
	min-height: 80vh;
	margin: 0 auto;
	background-color: #efefef;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	z-index: 1;
}