@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css";

.block-1, .block-2{
	width: 100%;
}

.subheadline{
font-size: 20px;
display: block;
width: 95%;
background-color: #e8ebef;
color: black;
margin: 0px auto;
margin-top: 15px;	
}

.show-container {
  display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
width: 100%;
overflow: hidden;
justify-items: center;
align-items: center;
justify-content: center;
margin: 15px 0px;
}

.details-icon {
  font-size: 2.5vw;
}

.item {
  width: 240px;
  height: 316px;
  background-size: 100% 100%;
  margin: 15px 2px 0 2px;
  border-radius: 1px;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  scale: 1;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.item:hover {
size: 25%;
}

a:hover{
	text-decoration: none;
}
.show-img{
width: 100%;
height: 100%;
}
.item > a {
width: 100%;
height: 100%;
}

.pagination-list{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
list-style-type: none;
font-size: 24px;
}

.pagination-list > li >  a, span {
margin-left: 15px;
}
.showsBtn{
margin: 0 auto;
display: flex;
width: 15%;
height: 25px;
border-radius: 8px;
border: 1px solid;
font-size:20px;
align-items: center;
flex-wrap: nowrap;
justify-content: center;
flex-direction: column;
}


