.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    width: 100%;
    height: 100%;
}

.profile-img-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.profile-username {
    text-align: center;
}

.collection-size {
    font-size: 18px;
    color: #818182;
    margin-top: 5%;
    text-align: center;
}

.collection-size span {
    color: #495057;
    font-size: 18px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 0%;
    margin-top: 0%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}

.tab-pane>.row>.col-md-6 {
    width: 33%;
}

.modalSubmit {
    border: 0px solid;
    background: #0896ff;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 15px auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
}

.modal-button {
    text-decoration: none;
    color: white;
}

.modal-button:hover {
    text-decoration: none;
    color: white;
}

.account-disable-button,
.account-disable-button:hover {
    border-color: red;
    background: red;
}

.account-disable-button:hover {
    border-color: red;
    background: red;
}

.tab-panel-header>div>div>p {
    font-weight: 600px;
    font-size: 16px;
    color: #009fff;
}

.show-name {
    color: #0896ff;
    font-size: 14px;
    font-weight: 700;
}