.hide {
  display: none;
  visibility: hidden;
  height: 0;
}

.pagination\:container {
  display: flex;
  align-items: center;
}

.arrow\:text {
  display: block;
  vertical-align: middle;
  font-size: 13px;
  vertical-align: middle;
}

.pagination\:number {
  --size: 32px;
  --margin: 6px;
  margin: 0 var(--margin);
  border-radius: 6px;
  background: #202020;
  max-width: auto;
  min-width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 6px;
  @media (hover: hover) {
    &:hover {
      background: lighten(#202020, 3%);
    }
  }
}

.pagination\:active {
  background: lighten(#202020, 3%);
  position: relative;
}

.pagination{
margin: 15px auto;
}

.pagination>li>a, .pagination>li>span {
position: relative;
float: left;
padding: 6px 12px;
margin-left: 15px;
line-height: 1.42857143;
color: #ffffff;
text-decoration: none;
background-color: #333;
border: 1px solid #0896ff;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
z-index: 2;
color: #ffffff;
background-color: #0896ff;
border-color: #0896ff;
}
.pagination .active {
    background-color: #0896ff;
}
.subheadline{
margin-top: 50px;
}